<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807245369735-597omcptte3ss1jjcdcm35eqcfhfqlfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807245369735-597omcptte3ss1jjcdcm35eqcfhfqlfi</string>
	<key>API_KEY</key>
	<string>AIzaSyAfqbCl9gNwmJ_szVAjMLnCxe6ZjYlPBJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>807245369735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtualgift</string>
	<key>PROJECT_ID</key>
	<string>virtualgift-login</string>
	<key>STORAGE_BUCKET</key>
	<string>virtualgift-login.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807245369735:ios:ac5897f7fd1ba500d28322</string>
</dict>
</plist>